    <div class="div2 total-cards ">                      
        <div class=" div2 perfil card"> 
            <a class="linkinicio">Eventos en tu ciudad?</a>
                                                     
        </div>
        
        <div class=" div2 arquitectura card">              
            <a style="text-decoration: none" href="/mantenedor" class="linkinicio">Admin.</a>
             <p class="pinicio">Administra el mapa y los eventos</p>                    
        </div>
    
        <div class="div2 aplicacionweb card"> 
            <a style="text-decoration: none" href="/mapa" class="linkinicio">Mapa</a>
            <p class="pinicio">Ve los eventos en tu zona</p>                                
        </div>   

         <div class="div2 bootcamp card"> 
            <a style="text-decoration: none" href="/eventos" class="linkinicio">Hoy?</a>
            <p class="pinicio">Agrega y busca eventos próximos</p>                         
        </div> 

       </div>
