{{#> template}}
<div>
<a class="bienvenido">  Bienvenido a MAPOUT!</a>
<p class="pinicio">Busca lo que está pasando en tu ciudad</p>
</div>


{{> cardshome}}
 <footer class="footer1">Todos los derechos reservados. Fotografía de Mark Dalton</footer>     
{{/template}}

